<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
 <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Update Customer Image</title>
<link href='http://fonts.googleapis.com/css?family=Roboto:100' rel='stylesheet' type='text/css'>
<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
</head>
<body>
<div class="container">
<div class="row">
    <div class="col-md-12">

        <form action="#" th:action="@{/cust/customersUpdateImage/{id}(id=${ct.id})}" method="post" th:object="${customer}" enctype="multipart/form-data">

            <div class="row">
                <div class="col-md-offset-2 col-md-8">
                    <div class="panel panel-info">
                        <div class="panel-heading">
                            <h3 class="panel-title">Update Customer Image</h3>
                        </div>
                        <div class="panel-body">
                            
                           <input type="hidden" th:field="*{id}" /><br/>
                              <div class="form-group">
                                <label class="col-sm-4 control-label" for="name">Full Name</label>
                                <div class="col-sm-8">
                                    <span th:text="${ct.fullName}"></span>
                                </div>
                            </div><br>
                            <div class="form-group">
                                <label class="col-sm-4 control-label" for="rut">Photo Name</label>
                                <div class="col-sm-8">
                                    <span th:text="${ct.photos}"></span>
                                </div>
                            </div><br>
                            <div class="form-group">
                                <label class="col-sm-4 control-label" for="rut">Existed Photo</label>
                                <div class="col-sm-8">
                                   <span><img th:src="@{/imagedata/{photos}(photos=${ct.photos})}" width="150" height="150"/></span>
                                </div>
                            </div><br/><br/><br/><br/><br/><br><br/><br/>
                            <div class="form-group">
                                <label class="col-sm-4 control-label" for="rut">Select New Photo</label>
                                <div class="col-sm-8">
                                    <input type="file"  accept="image/*" name="file" id="file"  onchange="loadFile(event)" style="display: none;">
                                    <label class="btn btn-info" for="file" style="cursor: pointer;">Select New Photo</label>
                                    
                                </div>
                            </div><br/><br/>
                            <div class="form-group">
                                <label class="col-sm-4 control-label" for="rut">New Photo</label>
                                <div class="col-sm-8">
                                    <span><img id="output" width="150" height="150" /></span>
                                </div>
                            </div><br/><br/><br/><br/><br/><br/>
                       
                            <hr>
                            <div class="form-group text-center">
                                <button type="submit"  class="btn btn-success">Update Image</button>
                            </div>
                            <div class="form-group text-center">
                                <input type="button" value="Back To Customer"
			th:onclick="'window.location.href = \'' + @{/cust/customers} + '\''"
				class="btn btn-primary" />	
                            </div>
                      
                        </div>
                    </div>
                </div>
            
            </div>
        </form>  
    </div>
</div>

</div>

</body>
<script>
var loadFile = function(event) {
	var image = document.getElementById('output');
	image.src = URL.createObjectURL(event.target.files[0]);
};
</script>
</html>