<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:insert="fragments.html :: headerfiles"></head>
<head><title>Update Customer</title></head>
<body>
<header th:insert="fragments.html :: nav"></header>
<div class="container">
<br><div>
            <input type="button" value="Back To Home"
			th:onclick="'window.location.href = \'' + @{/} + '\''"
				class="btn btn-primary" />	
            <input type="button" value="Add Customer"
				onclick="window.location.href='/home/AddCustomerForm'; return false;"
				class="btn btn-primary" />
	        <input type="button" value="Show Customers"
			th:onclick="'window.location.href = \'' + @{/cust/customers} + '\''"
				class="btn btn-primary" />		
				
	</div>			
				<hr>
	<div class="d-flex justify-content-center h-100">
		<div class="cardupdate">
			<div class="card-header">
				<h3>Update Customer</h3>
				<!-- <div class="d-flex justify-content-start">
					<span style="color:#fff;">Shyam Agro & Sons</span>
				</div> -->
				
					
				<!--  <center><span style="color:red;font-weight:bold;" th:text="${credential_err}"></span></center> -->
			</div>
			<div class="card-body">
				<form  action="#" th:action="@{/cust/customersUpdate/{id}(id=${ct.id})}" method="post" th:object="${ct}" enctype="multipart/form-data">
					
					<div style="margin-left:120px;" class="input-group form-group">
					<!-- <span th:text="${ct.photos}"></span> -->
                        <img  class = "rounded-circle" th:src="@{'/imagedata/'+${ct.photos}}"  style="width: 100px; height: 100px; border: 2px solid #ccc; margin-left: 0px; margin-bottom: 0px; position: relative;"/>
                          <input hidden   type="text" class="form-control" name="photos" th:field="*{photos}">
                     </div>
					<div class="input-group form-group">
                        <div class="input-group-prepend">
						  <span class="input-group-text"><i class="fa fa-user"></i></span>
						 </div>
                          <input type="text" class="form-control" name="fullName" th:field="*{fullName}" placeholder="Full Name" required>
                     </div>
                            
                     <div class="input-group form-group">
                         <div class="input-group-prepend">
						   <span class="input-group-text"><i class="fa fa-home"></i></span>
						  </div>
                             <input type="text" class="form-control" name="address" th:field="*{address}" placeholder="Address" required>
                      </div>     
                      <div class="input-group form-group">
                                <div class="input-group-prepend">
							    <span class="input-group-text"><i class="fa fa-key"></i></span>
						        </div>
                              <input type="text" class="form-control" name="aadhaar" th:field="*{aadhaarNo}"  placeholder="Aadhaar Number">
                      </div>
                       <div class="input-group form-group">
                                <div class="input-group-prepend">
							    <span class="input-group-text"><i class="fa fa-mobile"></i></span>
						        </div>
                              <input type="number" class="form-control" name="mobileNo" th:field="*{mobileNo}" maxlength="12" placeholder="Mobile Number">
                       </div>
                       <div class="input-group form-group">
                                <div class="input-group-prepend">
							    <span class="input-group-text"><i class="fa fa-circle"></i></span>
						        </div>
                              <input type="text" class="form-control" name="guarantor" th:field="*{guarantor}" placeholder="Any Guarantor Name">
                       </div>
                       <div class="input-group form-group">
                                <div class="input-group-prepend">
							    <span class="input-group-text"><i class="fa fa-book"></i></span>
						        </div>
                               <input type="text" class="form-control" name="note" th:field="*{note}" placeholder="Any Note">
                       </div>
                       <div class="input-group form-group">
                                <div class="input-group-prepend">
							    <span class="input-group-text"><i class="fa fa-upload"></i></span>
						        </div>
                              <input class="form-control" type="file"  accept="image/*" name="file" id="file"  onchange="loadFile(event)" style="display: none;">
                              <label class="form-control bg-dark" for="file" style="cursor: pointer;color:#fff;">Upload Image</label>
                       </div>
                           <div class="input-group form-group">
                              <div class="col-sm-8">
                               <img id="output" width="150" height="150" />
                              </div> 
                            </div>
                            <hr>
                            <div class="input-group form-group text-center">
                                <button type="submit"  class="btn float-right login_btn">Update</button>
                            </div>
                           
				</form>
			</div>
			
		</div>
	</div>
</div>

</body>
<script>
var loadFile = function(event) {
	var image = document.getElementById('output');
	image.src = URL.createObjectURL(event.target.files[0]);
};
</script>
</html>