<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
 <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Customer Purchase Bill Details</title>
</head>
<body>
<div align="center">
    <h1>Customer Purchase Bill Details</h1>
    <label>Id:</label><a><span th:text="${ct.id}"></span></a>
    <label>Name:</label><a><span th:text="${ct.fullName}"></span></a>
   <hr>
  <table>
    <thead>
        <tr>
            <th> Id </th>
            <th> Product Name </th>
            <th> Description </th>
            <th> Quantity </th>
            <th> Unit </th>
            <th> Price </th>
            <th> Discount </th>
            <th> GST </th>
            <th> Amount </th>
            <th> Edit </th>
            <th> Delete </th>
        </tr>
    </thead>
    <tbody>
	<!-- <tr th:if="${student.empty}">
            <td colspan="2"> No Student Available </td>
        </tr> -->
        <tr th:each="bill : ${buyBill}">
            <td><span th:text="${bill.id}"> Id </span></td>
            <td><span th:text="${bill.name}"> Name </span></td>
            <td><span th:text="${bill.description}"> Description </span></td>
            <td><span th:text="${bill.qty}"> Quantity </span></td>
            <td><span th:text="${bill.unit}"> Unit </span></td>
            <td><span th:text="${bill.price}"> Price </span></td>
            <td><span th:text="${bill.dis}"> Discount </span></td>
            <td><span th:text="${bill.gst}"> GST </span></td>
            <td><span th:text="${bill.amount}"> GST </span></td>
            <td><a th:href="@{/cust/editBuyBill/{customerId}/buyBills/{buyBillId}(customerId=${ct.id},buyBillId=${bill.id})}">Edit</a></td>
            <td><a th:href="@{/cust/customers/{customerId}/buyBills/{buyBillId}(customerId=${ct.id},buyBillId=${bill.id})}">Delete</a></td>
        </tr>
    </tbody>
</table>
<a href="/">Home</a><br> || <a href="/AddStudentForm">Add Students</a><br> || <a th:href="@{/cust/customersBuyBill/{id}(id=${ct.id})}">Add More Purchase Bill</a>
</div>
</body>
</html>