<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:insert="fragments.html :: headerfiles"></head>
<head><title>Update Product</title></head>
<body>
<header th:insert="fragments.html :: nav"></header>
<div class="container">
<br><div>
            <input type="button" value="Back To Home"
			th:onclick="'window.location.href = \'' + @{/} + '\''"
				class="btn btn-primary" />
	        <input type="button" value="Show Customers"
			th:onclick="'window.location.href = \'' + @{/cust/customers} + '\''"
				class="btn btn-primary" />		
		
				
	</div>			
				<hr>
	<div class="d-flex justify-content-center h-50">
		<div class="cardpro">
			<div class="card-header">
				<h3>Update Product</h3>
				<!-- <div class="d-flex justify-content-start">
					<span style="color:#fff;">Shyam Agro & Sons</span>
				</div> -->
				
					
				<!--  <center><span style="color:red;font-weight:bold;" th:text="${credential_err}"></span></center> -->
			</div>
			<div class="card-body">
				<form  action="#" th:action="@{/pro/addProduct}" method="post" th:object="${product}">
				
					 <div class="input-group form-group">
                        <div class="input-group-prepend">
						  <span class="input-group-text"><i class="fa fa-th"></i></span>
						 </div>
                          <input type="text" class="form-control" name="productName" th:field="*{productName}" placeholder="Product Name"  required>
                     </div>
                     
                     <div class="input-group form-group">
                        <div class="input-group-prepend">
						  <span class="input-group-text"><i class="fa fa-eye"></i></span>
						 </div>
                          <input type="text" class="form-control" name="productBrand" th:field="*{productBrand}" placeholder="Product Brand"  required>
                     </div>
                     
                     <div class="input-group form-group">
                        <div class="input-group-prepend">
						  <span class="input-group-text"><i class="fa fa-file"></i></span>
						 </div>
                          <input type="text" class="form-control" name="productType" th:field="*{productType}" placeholder="Product Type"  required>
                     </div>
                     
                     <div class="input-group form-group">
                        <div class="input-group-prepend">
						  <span class="input-group-text"><i class="fa fa-keyboard-o"></i></span>
						 </div>
                          <input type="text" class="form-control" name="productDescription" th:field="*{productDescription}" placeholder="Product Description"  required>
                     </div>
                     
                      <div class="input-group form-group">
                        <div class="input-group-prepend">
						  <span class="input-group-text"><i class="fa fa-microchip"></i></span>
						 </div>
                          <input type="text" class="form-control" name="productMeasure" th:field="*{productMeasure}" placeholder="Product Measure"  required>
                     </div>
                     
                     <div class="input-group form-group">
                        <div class="input-group-prepend">
						  <span class="input-group-text"><i class="fa fa-inr"></i></span>
						 </div>
                          <input type="text" class="form-control" name="productPrice" th:field="*{productPrice}" placeholder="Product Price"  required>
                     </div>
                    
                      <div class="input-group form-group">
                         <div class="input-group-prepend">
						   <span class="input-group-text"><i class="fa fa-balance-scale"></i></span>
						  </div>
                              <select type="text" class="form-control" name="productUnit" th:field="*{productUnit}" required>
                                <option value="" disabled selected>Please Select Product Unit...</option>
                                <option value="Price/Nos">Price/Nos</option> 
                                <option value="Price/Kg">Price/Kg</option>
                             </select>
                      </div>
                       <div class="input-group form-group">
                         <div class="input-group-prepend">
						   <span class="input-group-text"><i class="fa fa-file-alt"></i></span>
						  </div>
                              <select type="text" class="form-control" name="productNature" th:field="*{productNature}" required>
                                <option value="" disabled selected>Please Select Product Nature...</option>
                                 <option value="ForSelling">Sell Side</option> 
                                 <option value="ForBuying">Buy Side</option>
                                 <option value="ForService">Service Side</option>
                                 <option value="ForDBuying">Dealer Buy Side</option>
                                 <option value="ForDSelling">Dealer Sell Side</option>
                             </select>
                      </div>
                       
                            <hr>
                            <div class="input-group form-group text-center">
                                <button type="submit" class="btn float-right login_btn_credit">Update Product</button>
                            </div>
                           
				</form>
				
				
			</div>
			
		</div>
	</div>
</div>
</body>

</html>