<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:insert="fragments.html :: headerfiles"></head>
<head><title>Update Customer Debit Amount</title></head>
<body ng-app="myApp" ng-controller="PageCtrl as list">
<header th:insert="fragments.html :: nav"></header>
<div class="container">
<br><div>
            <input type="button" value="Back To Home"
			th:onclick="'window.location.href = \'' + @{/} + '\''"
				class="btn btn-primary" />
	        <input type="button" value="Show Customers"
			th:onclick="'window.location.href = \'' + @{/cust/customers} + '\''"
				class="btn btn-primary" />		
			<input type="button" value="Back To Debit List"
			th:onclick="'window.location.href = \'' + @{/debitAmo/getDebitAmoView/{id}(id=${ct.id})} + '\''"
				class="btn btn-primary" />	
				
	</div>			
				<hr>
	<div class="d-flex justify-content-center h-50">
		<div class="cardcustdebitupdate">
			<div class="card-header">
				<h3>Update Customer Debit Amount</h3>
				<!-- <div class="d-flex justify-content-start">
					<span style="color:#fff;">Shyam Agro & Sons</span>
				</div> -->
				
					
				<!--  <center><span style="color:red;font-weight:bold;" th:text="${credential_err}"></span></center> -->
			</div>
			<div class="card-body">
				<!-- <form method="POST" th:action="@{~/creditAmo/AddCreditAmo/{id}(id=${ct.id})}" th:object="${creditAmo}"> -->
				 <form name="myForm">
				 <span hidden id="ids" th:text="${ct.id}"></span>
				 <span hidden id="fullName" th:text="${ct.fullName}"></span>
				 <span hidden id="drId" th:text="${db}"></span>
				 <div class="input-group form-group">
                        <div class="input-group-prepend">
						  <span class="input-group-text"><i class="fa fa-id-card"></i></span>
						 </div>
                          <input type="text" class="form-control" name="id" data-ng-model="drId" disabled>
                     </div>
					<div class="input-group form-group">
                        <div class="input-group-prepend">
						  <span class="input-group-text"><i class="fa fa-user"></i></span>
						 </div>
                          <input type="text" class="form-control" name="fullName" data-ng-model="fullName" disabled>
                     </div>
                            
                     <div class="input-group form-group">
                         <div class="input-group-prepend">
						   <span class="input-group-text"><i class="fa fa-money"></i></span>
						  </div>
                             <input type="number" class="form-control" name="debitAmount" data-ng-model="debitAmount" placeholder="Debit Amount" required>
                      </div>     
                      <div class="input-group form-group">
                         <div class="input-group-prepend">
						   <span class="input-group-text"><i class="fa fa-percent"></i></span>
						  </div>
                             <input type="number" class="form-control" name="debitInt" data-ng-model="debitInt" placeholder="Rate of Interest (%)">
                      </div>  
                     <!--  <div class="input-group form-group">
                                <div class="input-group-prepend">
							    <span class="input-group-text"><i class="fa fa-file-alt"></i></span>
						        </div>
                              <input type="text" class="form-control" name="status" th:field="*{status}"  placeholder="Status" required>
                              <select name="status" class="form-control" type="text" data-ng-model="status" required>
                                <option value="" disabled selected>Please Select...</option>
                                <option value="Paid">Paid</option>
                                <option value="Unpaid">Unpaid</option>
                             </select>
                      </div> -->
                       
                       <div class="input-group form-group">
                                <div class="input-group-prepend">
							    <span class="input-group-text"><i class="fa fa-book"></i></span>
						        </div>
                               <input type="text" class="form-control" name="note" data-ng-model="note" placeholder="Any Note">
                       </div>
                      
                     
                            <hr>
                            <div class="input-group form-group text-center">
                                <button type="submit" data-ng-click="Debit()"  class="btn float-right login_btn_credit_update">Update Debit Amount</button>
                            </div>
                           
				</form>
				
			</div>
			
		</div>
	</div>
</div>
</body>
<script type="text/javascript" th:src="@{/js/dirPagination.js}"></script>
<script type="text/javascript">
var app = angular.module('myApp', ['ngMaterial', 'ngMessages', 'material.svgAssetsCache','angularUtils.directives.dirPagination']);

app.controller('PageCtrl', function ($scope, $http, $mdDialog,$window) {
	$scope.items = []; 
	$scope.CustomerId = document.getElementById("ids").innerText;
	$scope.fullName = document.getElementById("fullName").innerText;
	$scope.drId = document.getElementById("drId").innerText;
	
	 $http.get("http://localhost:8083/debitAmo/GetDebitAmo/db/"+$scope.drId+"").then(function(data, status, headers, config) {
			$scope.items = data.data;
			console.log($scope.items);
			console.log($scope.items.debitAmount);
			$scope.debitAmount = parseFloat($scope.items.debitAmount);
			$scope.debitInt = parseInt($scope.items.debitInt)
			$scope.note = $scope.items.note;
			}); 
	
	$scope.Debit = function(){
		 if(!$scope.myForm.$valid){
				console.log("Invalid")
				$scope.err = "Invaid Transaction Please Insert valid field or Refresh!!!";
				}
		  if($scope.myForm.$valid){
		var id = document.getElementById("ids").innerText;
		if($scope.note == null){
 			$scope.note = "None";
 		}
		if($scope.debitInt == null){
 			$scope.debitInt = 0;
 		}
	    var data={
	    		"debitAmount" : $scope.debitAmount,
				"debitInt" : $scope.debitInt,
				"note" : $scope.note,
				};
		console.log("Data ::");
		console.log(data);
		var URL = "http://localhost:8083/debitAmo/updateDebitAmo/"+$scope.CustomerId+"/db/"+$scope.drId+"";
		$http.post(URL, data); 
		$window.location.href = "/debitAmo/getDebitAmoView/"+$scope.CustomerId+"";
		//$window.location.reload();
	}
		  }


    
    
});
</script>
</html>