<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:insert="fragments.html :: headerfiles"></head>
<head><title>Update Tax</title></head>
<body>
<header th:insert="fragments.html :: nav"></header>
<div class="container">
<br><div>
            <input type="button" value="Back To Home"
			th:onclick="'window.location.href = \'' + @{/} + '\''"
				class="btn btn-primary" />
	        <input type="button" value="Show Customers"
			th:onclick="'window.location.href = \'' + @{/cust/customers} + '\''"
				class="btn btn-primary" />		
		
				
	</div>			
				<hr>
	<div class="d-flex justify-content-center">
		<div class="cardtax">
			<div class="card-header">
				<h3>Update Tax</h3>
				<!-- <div class="d-flex justify-content-start">
					<span style="color:#fff;">Shyam Agro & Sons</span>
				</div> -->
				
					
				<!--  <center><span style="color:red;font-weight:bold;" th:text="${credential_err}"></span></center> -->
			</div>
			<div class="card-body">
				<form action="#" th:action="@{/tax/updateTax/{id}(id=${id})}" method="post" th:object="${tax}">
				 <div class="input-group form-group">
                        <div class="input-group-prepend">
						  <span class="input-group-text"><i class="fa fa-calculator"></i></span>
						 </div>
                          <input type="text" class="form-control" name="gst" th:field="*{gst}" placeholder="GST %"  required>
                     </div>
                       
                            <hr>
                            <div class="input-group form-group text-center">
                                <button type="submit" class="btn float-right login_btn_credit">Update GST</button>
                            </div>
				</form>
				
				
			</div>
			
		</div>
	</div>
</div>
</body>

</html>