<!DOCTYPE HTML>
<html lang="en" ng-app="myApp">

<head>
  <meta charset="utf-8">
  <title>Edit Credit</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="">
  <meta name="author" content="Kim Maida">

  <!-- JS Libraries -->
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.19/angular.min.js" type="text/javascript"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/2.5.6/ui-bootstrap.js" type="text/javascript"></script>

  <!-- Angular Scripts -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

  <!-- Bootstrap -->
  <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" />
  <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />

</head>

<body ng-app="instantsearch">
	<div class="container-fluid">
		<div class="col-md-12" ng-controller="PageCtrl as list">
			<h2>Edit Credit</h2>
			<hr />
            
			</br>
			<input type="button" value="Back To Home"
			th:onclick="'window.location.href = \'' + @{/} + '\''"
				class="btn btn-primary" />	
			<form action="#" th:action="@{/creditDebitAmo/updateCreditAmo/{id}(id=${id})}" method="post" th:object="${credit}">	
			<label>Credit Amount:</label>
			<input type="text" th:field="*{Credit}" /><br/>
			<label>Credit Note:</label>
			<input type="text" th:field="*{Note}" /><br/>
			<button class="btn btn-primary" type="submit">Update Credit</button>
			</form>
			<br/>		
			
			
		</div>

	</div>
</body>

</html>