<!DOCTYPE html>
<html>
<head th:insert="fragments.html :: headerfiles"></head>
<head><title>Dashboard</title></head>
<body>
<header th:insert="fragments.html :: nav"></header>
<body ng-app="app" ng-controller="MainCtrl">
<!-- <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#">Shyam Agro & Sons</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarText">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item dropdown active">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Customers Base
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" href="/AddCustomerForm">Add Customer</a>
          <a class="dropdown-item" href="cust/customers">Show Customers</a>
      </li>
       <li class="nav-item dropdown active">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Dealers Base
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" href="/AddDealersForm">Add Dealer</a>
          <a class="dropdown-item" href="deal/dealers">Show Dealers</a>
        </div>
      </li>
       <li class="nav-item dropdown active">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Own Base
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" href="pro/showProducts">Add/Show Products</a>
          <a class="dropdown-item" href="tax/showTaxes">Add/Show Taxes</a>
          <a class="dropdown-item" href="service/showService">Add/Show Service</a>
          <a class="dropdown-item" href="creditDebitAmo/getCreditView">Add/Show Credits</a>
          <a class="dropdown-item" href="creditDebitAmo/getDebitView">Add/Show Debit</a>
        </div>
      </li>
    </ul>
    <span class="navbar-text">
     <a href="#" style="color:white;text-decoration:none;">Sign Out </a> <span style="color:white;"><i class="fa fa-user"></i></span>
    </span>
    &nbsp;&nbsp;
     <span class="navbar-text">
     <a style="color:white;">Billing Date :</a> <a style = "font-weight:bolder;color:white;text-decoration: underline;"><span th:text="${#dates.format(#dates.createNow(), 'dd MMM yyyy HH:mm')}"></span></a>
    </span>
  </div>
</nav>
 -->
 <div style="overflow-x:auto;">
				<table class="table table-hover table-striped table-bordered">
				  <thead class="thead-dark">
                    <tr>
                     <th scope="col">#</th>
                     <th scope="col">First</th>
                     <th scope="col">Last</th>
                     <th scope="col">Handle</th>
                   </tr>
                </thead>
                 <tr>
                     <td scope="col">#</td>
                     <td scope="col">First</td>
                     <td scope="col">Last</td>
                     <td scope="col">Handle</td>
                   </tr>
              </table>
             </div>
<div class="col-md-8">
<center><label>Purchase</label></center>
<table class="table table-hover table-striped table-bordered">
						<tr>
						    <th scope="col">Customer Id</th>
							<th scope="col">Full Name</th>
							<th scope="col">Guarantor Name</th>
							<th scope="col">Address</th>
							<th scope="col">Bill No.</th>
							<th scope="col">Note</th>
							<th scope="col">Total Amount</th>
							<th scope="col">Paid Amount</th>
							<th scope="col">Due Amount</th>
							<th scope="col">Billing Date</th>
							<th>Action</th>
						</tr>
						<tr data-ng-repeat="cust in SbillData">
						 <td>{{cust.ids}}</td>
                         <td>{{cust.fullName}}</td>
                         <td>{{cust.guarantor}}</td>
                         <td>{{cust.address}}</td> 
                         <td>{{cust.id}}</td> 
                         <td>{{cust.note}}</td>
                         <td>{{cust.totalAmount}}</td>
                         <td>{{cust.paidAmount}}</td>
                         <td>{{cust.dueAmount}}</td>
                         <td>{{cust.billingDate | date:'d/M/yyyy hh:mm:ss'}}</td>
                         <td><a href="/Scust/printSBill/{{cust.ids}}/sbill/{{cust.id}}">View</a></td>
                        </tr>
 
</table>
</div><br/>

<div class="col-md-8">
<center><label>Sell</label></center>
<table class="table table-hover table-striped table-bordered">
						<tr>
						    <th scope="col">Customer Id</th>
							<th scope="col">Full Name</th>
							<th scope="col">Guarantor Name</th>
							<th scope="col">Address</th>
							<th scope="col">Bill No.</th>
							<th scope="col">Note</th>
							<th scope="col">Total Amount</th>
							<th scope="col">Paid Amount</th>
							<th scope="col">Due Amount</th>
							<th scope="col">Billing Date</th>
							<th>Action</th>
						</tr>
                        <tr data-ng-repeat="cust in billData">
                         <td><a href="{{cust.ids}}">{{cust.ids}}</a></td>
                         <td>{{cust.fullName}}</td>
                         <td>{{cust.guarantor}}</td>
                         <td>{{cust.address}}</td> 
                         <td>{{cust.id}}</td> 
                         <td>{{cust.note}}</td>
                         <td>{{cust.totalAmount}}</td>
                         <td>{{cust.paidAmount}}</td>
                         <td>{{cust.dueAmount}}</td>
                         <td>{{cust.billingDate | date:'d/M/yyyy hh:mm:ss'}}</td>
                         <td><a href="/cust/printBill/{{cust.ids}}/bill/{{cust.id}}">View</a></td>
                        </tr>
</table>
</div>
<footer class="bg-success text-center text-white">
 

  <!-- Copyright -->
  <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
    © 2021 Copyright:
    <a class="text-white" href="https://mdbootstrap.com/">Shyam Agro & Sons</a>
  </div>
  <!-- Copyright -->
</footer>

</body>
<script type="text/javascript">
var app = angular.module("app",[]);
app.controller('MainCtrl', function($scope,$http,$window) {
	$http.get("http://localhost:8083/cust/customer").then(function(data, status, headers, config) {
		$scope.items = data.data;
		//console.log($scope.items);
		$scope.billData = [];
		 angular.forEach($scope.items, function(value,key){
			 $scope.i = value.id;
			 $scope.n = value.fullName;
			 $scope.g = value.guarantor;
			 $scope.a = value.address;
			 angular.forEach(value.bill, function(values,key){
				 var today = new Date().toLocaleDateString();
				 var exsistDate = new Date(values.billingDate).toLocaleDateString();
				   console.log(today);
				   console.log(exsistDate);
				   if(today===exsistDate){
					 console.log("today");
					 $scope.billData.push({
						 ids : $scope.i,
						 fullName : $scope.n,
						 guarantor : $scope.g,
						 address : $scope.a, 
						 id  : values.id,
						 note  : values.note,
	            	     totalAmount  : values.totalAmount,
	            	     paidAmount  : values.paidAmount,
	            	     dueAmount  : values.dueAmount,
	            	     billingDate  : values.billingDate
	            	     });
					 } 
				 });
			
		 });
		
		
		});
	$http.get("http://localhost:8083/cust/customer").then(function(data, status, headers, config) {
		$scope.items = data.data;
		//console.log($scope.items);
		$scope.SbillData = [];
		 angular.forEach($scope.items, function(value,key){
			 $scope.i = value.id;
			 $scope.n = value.fullName;
			 $scope.g = value.guarantor;
			 $scope.a = value.address;
			 angular.forEach(value.sbill, function(values,key){
				 var today = new Date().toLocaleDateString();
				 var exsistDate = new Date(values.billingDate).toLocaleDateString();
				   if(today===exsistDate){
					 console.log("today");
					 $scope.SbillData.push({
						 ids : $scope.i,
						 fullName : $scope.n,
						 guarantor : $scope.g,
						 address : $scope.a, 
						 id  : values.id,
						 note  : values.note,
	            	     totalAmount  : values.totalAmount,
	            	     paidAmount  : values.paidAmount,
	            	     dueAmount  : values.dueAmount,
	            	     billingDate  : values.billingDate
	            	     });
					 }  
				 });
			
		 });
		
		
		});
	
	/* $http.get("http://localhost:8083/pro/productsForSell").then(function(data, status, headers, config) {
		$scope.items = data.data;
		console.log($scope.items);
		 });
	$http.get("http://localhost:8083/pro/productsForBuy").then(function(data, status, headers, config) {
		$scope.items = data.data;
		console.log($scope.items);
		});
	$http.get("http://localhost:8083/pro/productsForDBuy").then(function(data, status, headers, config) {
		$scope.items = data.data;
		console.log($scope.items);
		});
	$http.get("http://localhost:8083/pro/productsForService").then(function(data, status, headers, config) {
		$scope.items = data.data;
		console.log($scope.items);
		});
	$http.get("http://localhost:8083/cust/customers").then(function(data, status, headers, config) {
		$scope.items = data.data;
		console.log($scope.items);
		});
	$http.get("http://localhost:8083/deal/dealers").then(function(data, status, headers, config) {
		$scope.items = data.data;
		console.log($scope.items);
		});
	$http.get("http://localhost:8083/cust/showBill").then(function(data, status, headers, config) {
		$scope.items = data.data;
		console.log($scope.items);
		});
	$http.get("http://localhost:8083/cust/showBuyBill").then(function(data, status, headers, config) {
		$scope.items = data.data;
		console.log($scope.items);
		});
	$http.get("http://localhost:8083/Scust/showSBill").then(function(data, status, headers, config) {
		$scope.items = data.data;
		console.log($scope.items);
		});
	$http.get("http://localhost:8083/Scust/showSellBill").then(function(data, status, headers, config) {
		$scope.items = data.data;
		console.log($scope.items);
		});
	$http.get("http://localhost:8083/firm/getPurchaseBillList").then(function(data, status, headers, config) {
		$scope.items = data.data;
		console.log($scope.items);
		});
	$http.get("http://localhost:8083/firm/getPurchaseBillItemList").then(function(data, status, headers, config) {
		$scope.items = data.data;
		console.log($scope.items);
		});
	$http.get("http://localhost:8083/pro/products").then(function(data, status, headers, config) {
		$scope.items = data.data;
		console.log($scope.items);
		});
	$http.get("http://localhost:8083/tax/taxes").then(function(data, status, headers, config) {
		$scope.items = data.data;
		console.log($scope.items);
		});
	$http.get("http://localhost:8083/creditAmo/showCr").then(function(data, status, headers, config) {
		$scope.items = data.data;
		console.log($scope.items);
		});
	$http.get("http://localhost:8083/debitAmo/showDr").then(function(data, status, headers, config) {
		$scope.items = data.data;
		console.log($scope.items);
		});
	$http.get("http://localhost:8083/creditDealerAmo/showDealerCr").then(function(data, status, headers, config) {
		$scope.items = data.data;
		console.log($scope.items);
		}); */
	});
</script>
</html>