<!DOCTYPE HTML>
<html lang="en" ng-app="myApp">
<head th:insert="fragments.html :: headerfiles"></head>
<head><title>Show Customers</title></head>
<!-- <head>
  <meta charset="utf-8">
  <title>Customers Details</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="">
  <meta name="author" content="Kim Maida">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />
  <link rel="stylesheet" href="https://gitcdn.xyz/cdn/angular/bower-material/v1.2.2/angular-material.css">
  <link rel="stylesheet" th:href="@{/css/md.css}">
  
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  
  <script src = "https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.js"></script>
  <script src = "https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular-animate.min.js"></script>
  <script src = "https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular-route.min.js"></script>
  <script src = "https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular-aria.min.js"></script>
  
  <script src = "https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular-messages.min.js"></script>
  <script src = "https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.js"></script>
  <script src = "https://cdnjs.cloudflare.com/ajax/libs/crypto-js/3.1.2/rollups/md5.js"></script>
  <script src = "https://s3-us-west-2.amazonaws.com/s.cdpn.io/t-114/svg-assets-cache.js"></script>
  <script src = "https://gitcdn.xyz/cdn/angular/bower-material/v1.2.2/angular-material.js"></script>
  
  
<link rel="stylesheet" th:href="@{/assets/bootstrap-4.5.2-dist/css/bootstrap.min.css}">
<script type="text/javascript" th:src="@{/assets/bootstrap-4.5.2-dist/js/jquery.min.js}"></script>
<script type="text/javascript" th:src="@{/assets/bootstrap-4.5.2-dist/js/bootstrap.min.js}"></script>
<script type="text/javascript" th:src="@{/assets/dist/viewer.js}"></script>
<link rel="stylesheet" th:href="@{/assets/dist/viewer.css}">

</head> -->

<body ng-app="instantsearch">
<header th:insert="fragments.html :: nav"></header>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="mx-md-auto">
    <a class="navbar-brand" href="#">Customer List</a>
  </div>
</nav>
   <div class="container-fluid">
	   
		<div class="col-md-12" ng-controller="PageCtrl as list">
			
			<hr/>
			  <div style="overflow-x:auto;">
				<table class="table table-hover table-striped table-bordered">
				  <thead class="thead-dark">
                    <tr>
                     <th scope="col">#</th>
                     <th scope="col">First</th>
                     <th scope="col">Last</th>
                     <th scope="col">Handle</th>
                   </tr>
                </thead>
                 <tr>
                     <td scope="col">#</td>
                     <td scope="col">First</td>
                     <td scope="col">Last</td>
                     <td scope="col">Handle</td>
                   </tr>
              </table>
             </div>
			<div class="input-group mb-3">
             <div class="input-group-prepend">
              <span class="input-group-text" id="basic-addon1"><i class="fa fa-search"></i></span>
            </div>
            <input type="search" class="form-control" ng-model="search" placeholder="Enter your search name here..." aria-label="search" aria-describedby="basic-addon1">
           </div>
			
			<input type="button" value="Add Customer"
				onclick="window.location.href='/home/AddCustomerForm'; return false;"
				class="btn btn-primary" />
			<input type="button" value="Back To Home"
			th:onclick="'window.location.href = \'' + @{/} + '\''"
				class="btn btn-primary" />	
				<br/>
				<hr>	
				
			<div><label style="font-weight:bold;">Total number of Customers : </label> <span class="badge badge-success" th:text="${count_Customers}"></span></div>	
			<hr>
			<div class="card">
				<div class="card-header bg-primary text-white">
					Customer List
				</div>
				<div style="overflow-x:auto;" class="card-body">
					<table class="table table-hover table-striped table-bordered">
						<tr>
							<th ng-click="sort('id')"><a href="#">Id</a>
								<span class="glyphicon sort-icon" ng-show="sortKey=='id'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
							</th>
							<th ng-click="sort('fullName')"><a href="#">Full Name</a>
								<span class="glyphicon sort-icon" ng-show="sortKey=='fullName'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
							</th>
							<th scope="col">Photo</th>
							<th scope="col">Aadhaar No.</th>
							<th scope="col">Guarantor</th>
							<th scope="col">Address</th>
							<th scope="col">Mobile No.</th>
							<th scope="col">Note</th>
							<th ng-click="sort('createDate')"><a href="#">Create Date & Time</a>
								<span class="glyphicon sort-icon" ng-show="sortKey=='createDate'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
							</th>
							<th scope="col">Credibility Status</th>
							<th scope="col">Credibility Action</th>
							<th scope="col">Logger</th>
							<th>Action</th>
						</tr>
               <tr dir-paginate="i in items|orderBy:sortKey:reverse|filter:search|itemsPerPage:5">
                     <td>{{i.id}}</td>
                     <!-- <td><span th:text="${no}"></span></td> -->
                     <!-- <td>{{i.uniqueId}}</td> -->
                     <td><a style="font-weight:bold;" href="{{i.id}}">{{i.fullName}}</a></td>
                     <td><img ng-click="getTooltip(i.photos)" th:src="@{/imagedata/{{i.photos}}}"  style="width: 130px; height: 130px; border: 2px solid #ccc; margin-left: 0px; margin-bottom: 0px; position: relative;"/></td>
                     <td>{{i.aadhaarNo}}</td>
                     <td>{{i.guarantor}}</td>
                     <td>{{i.address}}</td>
                     <td>{{i.mobileNo}}</td>
                     <td>{{i.note}}</td>
                     <td>{{i.createDate | date:'d/M/yyyy hh:mm:ss'}}</td>
                     <td>{{i.credibilityStatus}}</td>
                      <td>
                       <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
                        <div class="btn-group mr-2" role="group" aria-label="First group">
                          <button type="button" class="btn btn-secondary" ng-click="credState(i.id,'Very Good')"><a style="color:white;">Very Good</a></button>
                          <button type="button" class="btn btn-secondary" ng-click="credState(i.id,'Good')"><a style="color:white;">Good</a></button>
                        </div>
                     </div>
                     <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
                        <div class="btn-group mr-2" role="group" aria-label="First group">
                          <button type="button" class="btn btn-secondary" ng-click="credState(i.id,'Average')"><a style="color:white;">Average</a></button>
                          <button type="button" class="btn btn-secondary" ng-click="credState(i.id,'Bad')"><a style="color:white;">Bad</a></button>
                        </div>
                     </div>
                     <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
                        <div class="btn-group mr-2" role="group" aria-label="First group">
                          <button type="button" class="btn btn-secondary" ng-click="credState(i.id,'Very Bad')"><a style="color:white;">Very Bad</a></button>
                        </div>
                     </div>
                     </td>
                    <td>
                     <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
                        <div class="btn-group mr-2" role="group" aria-label="First group">
                          <button type="button" class="btn btn-secondary" ng-click="customersBuyBill(i.id)"><a style="color:white;">Purchase</a></button>
                          <button type="button" class="btn btn-secondary" ng-click="customersBillss(i.id)"><a style="color:white;">View Purchase</a></button>
                        </div>
                     </div>
                     <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
                        <div class="btn-group mr-2" role="group" aria-label="First group">
                          <button type="button" class="btn btn-secondary" ng-click="customersSellBill(i.id)"><a style="color:white;">Sell</a></button>
                          <button type="button" class="btn btn-secondary" ng-click="customersSBillss(i.id)"><a style="color:white;">View Sell</a></button>
                          <button type="button" class="btn btn-secondary" ng-click="getCreditAmoView(i.id)"><a style="color:white;">Credit</a></button>
                        </div>
                     </div>
                     <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
                        <div class="btn-group mr-2" role="group" aria-label="First group">
                          <button type="button" class="btn btn-secondary" ng-click="getDebitAmoView(i.id)"><a style="color:white;">Debit</a></button>
                          <button type="button" class="btn btn-secondary" ng-click="showSerBills(i.id)"><a style="color:white;">Service</a></button>
                        </div>
                     </div>
                     </td>
                     <td>
                     <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
                        <div class="btn-group mr-2" role="group" aria-label="First group">
                          <button type="button" ng-click="showCustomerData(i.id)" class="btn btn-primary"><a><i class="fa fa-user"></i></a></button>
                          <button type="button" ng-click="showConfirmEdit($event,i.id)" class="btn btn-success"><a><i class="fa fa-edit"></i></a></button>
                          <!-- <button type="button" ng-click="showConfirmEditImage($event,i.id)" class="btn btn-success"><a><i class="fa fa-image"></i></a></button> -->
                          <button type="button" ng-click="showConfirmDelete($event,i.id)" class="btn btn-danger"><a><i class="fa fa-trash"></i></a></button>
                        </div>
                     </div>
                     </td>
                     
                     
                 </tr>
					</table>
                 <dir-pagination-controls
					max-size="5"
					direction-links="true"
					boundary-links="true" >
				</dir-pagination-controls>
				
				</div>
			</div>
		</div>

	</div>

 <footer class="bg-success text-center text-white">
 

  <!-- Copyright -->
  <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
    © 2021 Copyright:
    <a class="text-white" href="https://mdbootstrap.com/">Shyam Agro & Sons</a>
  </div>
  <!-- Copyright -->
</footer>

</body>
<script type="text/javascript" th:src="@{/js/dirPagination.js}"></script>
<script type="text/javascript">
var app = angular.module('myApp', ['ngMaterial', 'ngMessages', 'material.svgAssetsCache','angularUtils.directives.dirPagination']);

app.controller('PageCtrl', function ($scope, $http, $mdDialog,$window) {
	$scope.items = []; 
	$http.get('http://localhost:8083/cust/customer').then(function(data, status, headers, config) {
		$scope.items = data.data;
		console.log($scope.items);
});
	$scope.sort = function(keyname){
		$scope.sortKey = keyname;   //set the sortKey to the param passed
		$scope.reverse = !$scope.reverse; //if true make it false and vice versa
	}
	////////////////////////////////////////////////////
	  $scope.status = '  ';
    $scope.customFullscreen = false;

    

    $scope.showConfirmDelete = function(ev,id) {
      $scope.CustomerId = id;
      var confirm = $mdDialog.confirm()
        .title('Would You Like To Delete This Data ?')
        .textContent('Please Confirm Your Request!!!')
        .ariaLabel('')
        .targetEvent(ev)
        .ok('Delete')
        .cancel('Cancel');

      $mdDialog.show(confirm).then(function () {
        $scope.status = 'Deleted';
        if($scope.status = 'Deleted'){
        	$window.location.href = "/cust/customersDel/"+$scope.CustomerId+"";
        }
        
      }, function () {
        $scope.status = 'Canceled';
      });
    };
    
    $scope.showConfirmEdit = function(ev,id) {
        $scope.CustomerId = id;
        var confirm = $mdDialog.confirm()
          .title('Would You Like To Edit This Data ?')
          .textContent('Please Confirm Your Request!!!')
          .ariaLabel('')
          .targetEvent(ev)
          .ok('Edit')
          .cancel('Cancel');

        $mdDialog.show(confirm).then(function () {
          $scope.status = 'Edited';
          if($scope.status = 'Edited'){
          	$window.location.href = "/cust/edit/"+$scope.CustomerId+"";
          }
          
        }, function () {
          $scope.status = 'Canceled';
        });
      };
      
     /*  $scope.showConfirmEditImage = function(ev,id) {
          $scope.CustomerId = id;
          var confirm = $mdDialog.confirm()
            .title('Would You Like To Edit Image ?')
            .textContent('Please Confirm Your Request!!!')
            .ariaLabel('')
            .targetEvent(ev)
            .ok('Edit Image')
            .cancel('Cancel');

          $mdDialog.show(confirm).then(function () {
            $scope.status = 'EditedImg';
            if($scope.status = 'EditedImg'){
            	$window.location.href = "/cust/customersUpdateImg/"+$scope.CustomerId+"";
            }
            
          }, function () {
            $scope.status = 'Canceled';
          });
        }; */



    function DialogController($scope, $mdDialog) {
      $scope.hide = function () {
        $mdDialog.hide();
      };

      $scope.cancel = function () {
        $mdDialog.cancel();
      };

      $scope.answer = function (answer) {
        $mdDialog.hide(answer);
      };
    }
    /////////////////////////////////////////////////////
    $scope.showCustomerData = function(id) {
    	$scope.CustomerId = id;
    	$window.location.href = "/cust/view/"+$scope.CustomerId+"";
    },
    $scope.customersBuyBill = function(id) {
    	$scope.CustomerId = id;
    	$window.location.href = "/cust/customersBuyBill/"+$scope.CustomerId+"";
    },
    $scope.customersBillss = function(id) {
    	$scope.CustomerId = id;
    	$window.location.href = "/cust/customersBillss/"+$scope.CustomerId+"";
    },
    $scope.customersSellBill = function(id) {
    	$scope.CustomerId = id;
    	$window.location.href = "/Scust/customersSellBill/"+$scope.CustomerId+"";
    },
    $scope.customersSBillss = function(id) {
    	$scope.CustomerId = id;
    	$window.location.href = "/Scust/customersSBillss/"+$scope.CustomerId+"";
    },
    $scope.getCreditAmoView = function(id) {
    	$scope.CustomerId = id;
    	$window.location.href = "/creditAmo/getCreditAmoView/"+$scope.CustomerId+"";
    },
    $scope.getDebitAmoView = function(id) {
    	$scope.CustomerId = id;
    	$window.location.href = "/debitAmo/getDebitAmoView/"+$scope.CustomerId+"";
    },
    $scope.showSerBills = function(id) {
    	$scope.CustomerId = id;
    	$window.location.href = "/serBill/showSerBills/"+$scope.CustomerId+"";
    },
    $scope.credState = function(id,state) {
    	$scope.CustomerId = id;
    	$scope.state= state;
    	var URL0 = "http://localhost:8083/cust/credState/"+$scope.CustomerId+"/"+$scope.state+"";
		console.log(URL0);
		$http.get(URL0);
		window.location.reload();
    },
    
    $scope.getTooltip = function (photo) {
        var path1 = "/imagedata/" + photo;
        var image = new Image();
        image.src = path1;
    	var viewer = new Viewer(image, {
    		hidden : function() {
    			viewer.destroy();
    		},
    		toolbar : {
    			zoomIn : true,
    			zoomOut : true,
    			oneToOne : false,
    			reset : true,
    			prev : false,
    			play : false,
    			next : false,
    			rotateLeft : true,
    			rotateRight : true,
    			flipHorizontal : false,
    			flipVertical : false,
    		},
    	});
    	viewer.show();
      };
   
});
</script>
</html>